In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Crimes_2015.csv')

In [4]:
df.head()

,Dates,Primary Type,Location Description,Arrest,Domestic,Ward,Counts,District,Primary Types
0,2015-09-05,BATTERY,RESIDENCE,0,1,12.0,498,9,2
1,2015-09-04,THEFT,CTA BUS,0,0,29.0,179,15,29
2,2015-09-05,NARCOTICS,SIDEWALK,1,0,35.0,498,14,17
3,2015-09-05,ASSAULT,APARTMENT,0,1,28.0,498,15,1
4,2015-09-05,BURGLARY,RESIDENCE,0,0,21.0,498,6,3

In [6]:
df.shape

(16649, 9)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16649 entries, 0 to 16648
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 16649 non-null  object
 1   Primary Type          16649 non-null  object
 2   Location Description  16649 non-null  object
 3   Arrest                16649 non-null  int64
 4   Domestic              16649 non-null  int64
 5   Ward                  16649 non-null  float64
 6   Counts                16649 non-null  int64
 7   District              16649 non-null  int64
 8   Primary Types         16649 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 1.1+ MB

In [13]:
df.isnull().sum()

Dates                   0
Primary Type            0
Location Description    0
Arrest                  0
Domestic                0
Ward                    0
Counts                  0
District                0
Primary Types           0
dtype: int64

In [48]:
print(df.groupby(by='Primary Type')['Counts'].sum().sort_values(ascending=False).index[0])

'THEFT'