In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('disney_title.csv')

In [4]:
df.head()

,type,title,director,cast,country,release_year,rating,duration,listed_in,description,Date
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,2021-11-26
1,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,2021-11-26
2,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,2021-11-26
3,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",2021-11-26
4,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,2021-11-25

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   director      977 non-null    object
 3   cast          1260 non-null   object
 4   country       1231 non-null   object
 5   release_year  1450 non-null   int64
 6   rating        1447 non-null   object
 7   duration      1450 non-null   object
 8   listed_in     1450 non-null   object
 9   description   1450 non-null   object
 10  Date          1447 non-null   object
dtypes: int64(1), object(10)
memory usage: 124.7+ KB
None

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          1450 non-null   object
 1   title         1450 non-null   object
 2   director      977 non-null    object
 3   cast          1260 non-null   object
 4   country       1231 non-null   object
 5   release_year  1450 non-null   int64
 6   rating        1447 non-null   object
 7   duration      1450 non-null   object
 8   listed_in     1450 non-null   object
 9   description   1450 non-null   object
 10  Date          1447 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 124.7+ KB
None

In [12]:
print(df['Date'].dtype)

datetime64[ns]

In [13]:
df.head()

,type,title,director,cast,country,release_year,rating,duration,listed_in,description,Date
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,2021-11-26
1,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,2021-11-26
2,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,2021-11-26
3,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",2021-11-26
4,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,2021-11-25

In [59]:
filtered_df = df.loc[(df['Date'] >= '2020-01-01') & (df['Date'] <= '2021-01-01')]

In [61]:
filtered_df['Date']

320     2021-01-01
321     2021-01-01
322     2021-01-01
323     2021-01-01
324     2021-01-01
           ...
672     2020-01-01
673     2020-01-01
1447    2020-12-18
1448    2020-09-18
1449    2020-04-01
Name: Date, Length: 357, dtype: object

In [57]:
titles = filtered_df['title'].head(10).values

In [58]:
print(titles)

['700 Sharks' 'Big Sharks Rule' "Dr. Seuss' Horton Hears a Who!"
 'Great Shark Chow Down' 'Mega Hammerhead' 'Burrow'
 'Cosmos: Possible Worlds' 'Disney Gallery / Star Wars: The Mandalorian'
 "Max Keeble's Big Move" 'Soul']

In [49]:
df_subset = df.drop('release_year',axis=1)

In [57]:
print(list(df_subset.columns.values))

['type', 'title', 'director', 'cast', 'country', 'rating', 'duration', 'listed_in', 'description', 'Date']

In [52]:
df = df.rename(columns = {'type':'Type','title':'Title','director':'Director','cast':'Cast','country':'Country',
                         'release_year':'Release_year','rating':'Rating','duration':'Duration','listed_in':'Listed_in',
                         'description':'Description'})

In [56]:
print(list(df.columns.values))

['Type', 'Title', 'Director', 'Cast', 'Country', 'Release_year', 'Rating', 'Duration', 'Listed_in', 'Description', 'Date']

In [17]:
new_listed_in = df['listed_in'].str.replace('&',',')

In [18]:
print(new_listed_in.tail().values)

['Action-Adventure, Family, Science Fiction'
 'Action-Adventure, Comedy, Family' 'Biographical, Comedy, Drama'
 'Buddy, Comedy, Coming of Age'
 'Action-Adventure, Animals , Nature, Animation']

In [71]:
print(df.isnull().sum())

type              0
title             0
director        473
cast            190
country         219
release_year      0
rating            3
duration          0
listed_in         0
description       0
Date              3
dtype: int64

In [19]:
df_full = df.dropna()

In [74]:
print(df_full.isnull().sum())

type            0
title           0
director        0
cast            0
country         0
release_year    0
rating          0
duration        0
listed_in       0
description     0
Date            0
dtype: int64

In [50]:
df_null = df.isnull().sum()

In [51]:
df_null

type              0
title             0
director        473
cast            190
country           0
release_year      0
rating            3
duration          0
listed_in         0
description       0
Date              3
dtype: int64

In [41]:
df_all = df.shape[0]

In [53]:
print(round(df_null/df_all*100,2))

type             0.00
title            0.00
director        32.62
cast            13.10
country          0.00
release_year     0.00
rating           0.21
duration         0.00
listed_in        0.00
description      0.00
Date             0.21
dtype: float64

In [4]:
df['country'] = df['country'].fillna('Country not specified')

In [55]:
print(df['country'].dropna().head().values)

['Country not specified' 'Country not specified' 'United States'
 'Country not specified' 'Country not specified']