In [10]:
import pandas as pd

In [7]:
a = 10
print(a)
a+10

10

20

In [5]:
c = 'Name'
print(c)

Name

In [8]:
b = [1,5,10]
print(b)
print(b[0])

[1, 5, 10]
1

In [9]:
2/3

0.6666666666666666

In [12]:
df = pd.read_csv('2019.csv')

In [14]:
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [26]:
df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [27]:
print(df['Score'].max(), df['Score'].min(), sep='\n')

7.769
2.853

In [24]:
print(df['Score'].min())

2.853

In [30]:
print(df['Score'].mean())

5.407096153846155

In [31]:
print(df['Score'].median())

5.3795

In [33]:
print(df['Score'].mode()[0])

5.208

In [34]:
print(df['Score'].std())

1.1131198687956712

In [55]:
print(df.sort_values('Score', ascending=False).loc[0:9][['Country or region']].tolist())

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [59]:
countries = df[['Country or region','Score']]

In [66]:
print(countries.sort_values('Score', ascending=False)['Country or region'].loc[0:9].tolist())

['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland', 'Sweden', 'New Zealand', 'Canada', 'Austria']

In [46]:
print(df['GDP per capita'].sum())

141.203

In [49]:
print(df.loc[0:9,'GDP per capita'].sum())

13.87