In [1]:
import pandas as pd

In [13]:
from scipy.stats import levene

In [2]:
df = pd.read_csv('books_prep.csv')

In [13]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating (Round),Price (Above Average)
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,5,No
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,5,Yes
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,5,Yes
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,5,No
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,5,No

In [18]:
print(df.sort_values('User Rating',ascending=False)['Author'].loc[0])

JJ Smith

In [40]:
print(df.loc[df['Price (Above Average)']=='Yes']['User Rating'].mean())

4.560103626943005

In [7]:
print(df.loc[df['Price (Above Average)']=='No']['User Rating'].mean())

4.649859943977591

In [20]:
user_rating_cheap = df[df['Price (Above Average)'] == "No"]['User Rating']

In [21]:
user_rating_expensive = df[df['Price (Above Average)'] == "Yes"]['User Rating']

In [22]:
print(levene(user_rating_cheap, user_rating_expensive).pvalue)

0.10402083833234736

In [18]:
from scipy.stats import ttest_ind

In [23]:
print(ttest_ind(user_rating_cheap, user_rating_expensive).pvalue)

8.190934970309897e-06

In [24]:
from scipy.stats import f_oneway

In [25]:
ur_5 = df[(df['User Rating (Round)'] == 5)]['Reviews']

In [26]:
ur_4 = df[(df['User Rating (Round)'] == 4)]['Reviews']

In [27]:
ur_3 = df[(df['User Rating (Round)'] == 3)]['Reviews']

In [28]:
print(f_oneway(ur_5, ur_4, ur_3).pvalue)

0.2973862975123414

In [16]:
print(df['Author'].describe()['top'])

Jeff Kinney